{
  "presets": [["es2015", { "modules": false }]],
  "plugins": [["syntax-dynamic-import"],
    ["import", {
      "libraryName": "vant",
      "libraryDirectory": "es",
      "style": true
    }]
  ]
}
